/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #393e46 !default;  // 控制 page_footer 以及 頁數顏色、toc 欄顏色
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: #d6d6d6 !default;  // page_footer 的背景色  // 原本是搭配$primary-color
$link-color: #33839c !default;  // 超連結顏色
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;
$code-background-color: #d7d8da !default;  // code 背景顏色

.page__footer {
  color: $primary-color !important; // override  // page_footer 內的文字顏色
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
